*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	background-color: rgba(251,247,238,1.00);
}

body::before{
	content: "";
	width: 100%;
	height: 100vh;
	position: absolute;
	top: -7px;
	background-image: radial-gradient(rgba(217,217,217,1.00) 5%, transparent 6%);
	background-size: 35px 35px;
	z-index: -10;
}


h1{
	margin-top: 45px;
	color: rgba(50,50,50,1.00);
	font-family: 'Gochi Hand', cursive;
	font-size: 7rem;
	text-align: center;
	text-transform: uppercase;
}

form{
	min-height: 20vh;
	margin-top: -15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-input{
	width: 22vw;
	min-width: 270px;
	height: 40px;
	padding: 5px 12px;
	font-size: 1.8rem;
	border: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

button{
	width: 48px;
	height: 48px;
	border: none;
	border-radius: 50%;
	background-color: rgba(127,178,189,1.00);
	cursor: pointer;
}

button i{
	color: #fff;
	font-size: 1.8rem;
}

.todo-button{
	margin-left: -13px;
}

.completed-btn, .trash-btn{
	width: 33px;
	height: 33px;
	margin-right: 5px;
}

.todo-input, .todo-container{
	font-family: 'Indie Flower', cursive;
}

.todo-container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 12px;
	font-size: 2.2rem;
	letter-spacing: 1px;
}

.todo-list{
	list-style: circle;
}

.todo{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.todo-item{
	width: 28vw;
	min-width: 220px;
	height: 35px;
	padding: 0 10px;
	opacity: 1;	
}

.completed{
	text-decoration: line-through;
	text-decoration-color: rgba(73,129,142,1.00);
	opacity: 0.5;
}


.removed{
	transition: opacity 1.5s;
	opacity: 0;
}